In [2]:
#Import Librairies

In [2]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [10]:
#Lecture fichier salaires et apercu
salaires=pd.read_csv('../data/net_salary_per_town_categories.csv')
salaires.head(10)

,CODGEO,LIBGEO,SNHM14,SNHMC14,SNHMP14,SNHME14,SNHMO14,SNHMF14,SNHMFC14,SNHMFP14,...,SNHMHO14,SNHM1814,SNHM2614,SNHM5014,SNHMF1814,SNHMF2614,SNHMF5014,SNHMH1814,SNHMH2614,SNHMH5014
0,01004,Ambérieu-en-Bugey,13.7,24.2,15.5,10.3,11.2,11.6,19.1,13.2,...,11.6,10.5,13.7,16.1,9.7,11.8,12.5,11.0,14.9,18.6
1,01007,Ambronay,13.5,22.1,14.7,10.7,11.4,11.9,19.0,13.3,...,11.7,9.8,13.8,14.6,9.2,12.2,12.5,10.2,14.9,16.4
2,01014,Arbent,13.5,27.6,15.6,11.1,11.1,10.9,19.5,11.7,...,11.8,9.3,13.3,16.0,8.9,10.6,12.5,9.6,15.1,18.6
3,01024,Attignat,12.9,21.8,14.1,11.0,11.3,11.4,19.0,13.0,...,11.6,9.6,12.9,14.2,9.3,11.4,12.2,9.7,13.8,15.9
4,01025,Bâgé-la-Ville,13.0,22.8,14.1,10.5,11.1,11.6,19.4,13.6,...,11.4,9.4,12.8,15.2,9.0,11.8,12.3,9.7,13.4,16.9
5,01027,Balan,13.9,22.2,15.1,11.0,11.4,12.5,20.3,14.0,...,11.7,9.7,14.1,15.4,9.5,12.8,13.0,9.9,15.3,17.2
6,01031,Bellignat,12.4,24.0,13.1,10.5,10.4,10.9,20.7,11.8,...,10.8,9.3,12.5,13.3,8.9,11.0,11.5,9.6,13.3,14.9
7,01032,Béligneux,14.0,23.1,15.3,10.9,11.3,12.4,20.5,13.9,...,11.6,9.7,13.9,16.7,9.7,12.4,13.8,9.6,15.0,19.3
8,01033,Bellegarde-sur-Valserine,11.5,21.2,13.5,9.9,10.5,10.3,20.8,12.3,...,11.0,9.6,11.5,12.7,9.2,10.3,11.3,10.0,12.3,13.9
9,01034,Belley,12.4,23.4,14.1,10.3,10.5,11.0,21.5,13.0,...,10.9,9.7,12.3,13.7,9.3,11.2,11.4,9.9,13.0,15.4

In [12]:
#Taille du DF
print("dimension du dataframe", salaires.shape)

dimension du dataframe (5136, 26)

In [13]:
#Typologie des variables
print(salaires.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5136 entries, 0 to 5135
Data columns (total 26 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CODGEO     5136 non-null   object
 1   LIBGEO     5136 non-null   object
 2   SNHM14     5136 non-null   float64
 3   SNHMC14    5136 non-null   float64
 4   SNHMP14    5136 non-null   float64
 5   SNHME14    5136 non-null   float64
 6   SNHMO14    5136 non-null   float64
 7   SNHMF14    5136 non-null   float64
 8   SNHMFC14   5136 non-null   float64
 9   SNHMFP14   5136 non-null   float64
 10  SNHMFE14   5136 non-null   float64
 11  SNHMFO14   5136 non-null   float64
 12  SNHMH14    5136 non-null   float64
 13  SNHMHC14   5136 non-null   float64
 14  SNHMHP14   5136 non-null   float64
 15  SNHMHE14   5136 non-null   float64
 16  SNHMHO14   5136 non-null   float64
 17  SNHM1814   5136 non-null   float64
 18  SNHM2614   5136 non-null   float64
 19  SNHM5014   5136 non-null   float64
 20  SNHMF1814  5136 non-null   float64
 21  SNHMF2614  5136 non-null   float64
 22  SNHMF5014  5136 non-null   float64
 23  SNHMH1814  5136 non-null   float64
 24  SNHMH2614  5136 non-null   float64
 25  SNHMH5014  5136 non-null   float64
dtypes: float64(24), object(2)
memory usage: 1.0+ MB
None

In [6]:
salaires.describe()

,SNHM14,SNHMC14,SNHMP14,SNHME14,SNHMO14,SNHMF14,SNHMFC14,SNHMFP14,SNHMFE14,SNHMFO14,...,SNHMHO14,SNHM1814,SNHM2614,SNHM5014,SNHMF1814,SNHMF2614,SNHMF5014,SNHMH1814,SNHMH2614,SNHMH5014
count,5136.000000,5136.000000,5136.000000,5136.000000,5136.000000,5136.000000,5136.000000,5136.000000,5136.000000,5136.000000,...,5136.000000,5136.000000,5136.000000,5136.00000,5136.000000,5136.000000,5136.000000,5136.000000,5136.000000,5136.000000
mean,13.706386,23.703836,14.575876,10.564505,11.235650,12.038026,20.220502,13.274260,10.308879,9.827161,...,11.498189,9.549766,13.495444,15.87722,9.161565,12.055160,13.174143,9.820872,14.485981,17.679809
std,2.559329,2.836183,1.490110,0.811775,1.221755,1.787995,2.327550,0.990166,0.747563,1.104684,...,1.289598,0.997444,2.363144,3.58586,0.453023,1.825306,2.249391,1.539949,2.852490,4.530257
min,10.200000,16.000000,11.600000,8.700000,8.300000,9.300000,12.000000,10.600000,8.700000,6.100000,...,8.900000,7.900000,9.700000,10.50000,7.500000,9.100000,9.500000,7.800000,9.600000,10.800000
25%,12.100000,21.900000,13.800000,10.000000,10.600000,10.900000,18.800000,12.600000,9.800000,9.200000,...,10.800000,9.200000,12.000000,13.70000,8.900000,10.900000,11.700000,9.400000,12.700000,14.900000
50%,13.000000,23.200000,14.400000,10.400000,11.000000,11.500000,20.000000,13.100000,10.100000,9.700000,...,11.300000,9.500000,12.900000,15.00000,9.100000,11.600000,12.600000,9.700000,13.800000,16.600000
75%,14.400000,24.900000,15.100000,10.900000,11.600000,12.700000,21.400000,13.800000,10.600000,10.200000,...,11.900000,9.700000,14.300000,16.90000,9.400000,12.700000,14.000000,10.000000,15.500000,19.000000
max,43.300000,51.500000,54.600000,17.500000,46.300000,26.700000,35.500000,19.000000,16.100000,28.100000,...,53.200000,60.600000,38.100000,56.90000,12.000000,26.600000,31.000000,93.300000,45.400000,68.600000

In [14]:
#Taux de NA par colonne
print(salaires.isnull().sum())

CODGEO       0
LIBGEO       0
SNHM14       0
SNHMC14      0
SNHMP14      0
SNHME14      0
SNHMO14      0
SNHMF14      0
SNHMFC14     0
SNHMFP14     0
SNHMFE14     0
SNHMFO14     0
SNHMH14      0
SNHMHC14     0
SNHMHP14     0
SNHMHE14     0
SNHMHO14     0
SNHM1814     0
SNHM2614     0
SNHM5014     0
SNHMF1814    0
SNHMF2614    0
SNHMF5014    0
SNHMH1814    0
SNHMH2614    0
SNHMH5014    0
dtype: int64

In [21]:
#Taux de NA par ligne
print(salaires.isnull().sum(axis=1))

0       0
1       0
2       0
3       0
4       0
       ..
5131    0
5132    0
5133    0
5134    0
5135    0
Length: 5136, dtype: int64

In [26]:
salaires.nunique().values

array([5136, 5085,  167,  202,   99,   69,   97,  129,  175,   74,   59,
        103,  200,  228,  122,   98,   96,   62,  160,  224,   43,  128,
        154,   72,  192,  266], dtype=int64)

In [29]:
salaires['SNHMH2614'].unique

<bound method Series.unique of 0       14.9
1       14.9
2       15.1
3       13.8
4       13.4
        ...
5131    13.1
5132    11.0
5133    12.1
5134    11.8
5135    10.4
Name: SNHMH2614, Length: 5136, dtype: float64>