In [2]:
#Import Librairies

In [3]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [4]:
#Lecture fichier salaires et apercu
geo=pd.read_csv('../data/name_geographic_information.csv')
geo.head(10)

,EU_circo,code_région,nom_région,chef.lieu_région,numéro_département,nom_département,préfecture,numéro_circonscription,nom_commune,codes_postaux,code_insee,latitude,longitude,éloignement
0,Sud-Est,82,Rhône-Alpes,Lyon,01,Ain,Bourg-en-Bresse,1,Attignat,01340,1024,46.283333,5.166667,1.21
1,Sud-Est,82,Rhône-Alpes,Lyon,01,Ain,Bourg-en-Bresse,1,Beaupont,01270,1029,46.400000,5.266667,1.91
2,Sud-Est,82,Rhône-Alpes,Lyon,01,Ain,Bourg-en-Bresse,1,Bény,01370,1038,46.333333,5.283333,1.51
3,Sud-Est,82,Rhône-Alpes,Lyon,01,Ain,Bourg-en-Bresse,1,Béreyziat,01340,1040,46.366667,5.05,1.71
4,Sud-Est,82,Rhône-Alpes,Lyon,01,Ain,Bourg-en-Bresse,1,Bohas-Meyriat-Rignat,01250,1245,46.133333,5.4,1.01
5,Sud-Est,82,Rhône-Alpes,Lyon,01,Ain,Bourg-en-Bresse,1,Bourg-en-Bresse,01000,1053,46.200000,5.216667,1.00
6,Sud-Est,82,Rhône-Alpes,Lyon,01,Ain,Bourg-en-Bresse,1,Buellas,01310,1065,46.200000,5.133333,0.73
7,Sud-Est,82,Rhône-Alpes,Lyon,01,Ain,Bourg-en-Bresse,1,Certines,01240,1069,46.133333,5.266667,1.97
8,Sud-Est,82,Rhône-Alpes,Lyon,01,Ain,Bourg-en-Bresse,1,Ceyzériat,01250,1072,46.166667,5.316667,1.15
9,Sud-Est,82,Rhône-Alpes,Lyon,01,Ain,Bourg-en-Bresse,1,Chavannes-sur-Suran,01250,1095,46.266667,5.416667,1.14

In [6]:
#Taille du DF
print("dimension du dataframe", geo.shape)

dimension du dataframe (36840, 14)

In [5]:
#Typologie des variables
print(geo.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36840 entries, 0 to 36839
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   EU_circo                36840 non-null  object
 1   code_région             36840 non-null  int64
 2   nom_région              36840 non-null  object
 3   chef.lieu_région        36840 non-null  object
 4   numéro_département      36840 non-null  object
 5   nom_département         36840 non-null  object
 6   préfecture              36840 non-null  object
 7   numéro_circonscription  36840 non-null  int64
 8   nom_commune             36840 non-null  object
 9   codes_postaux           36840 non-null  object
 10  code_insee              36840 non-null  int64
 11  latitude                33911 non-null  float64
 12  longitude               33999 non-null  object
 13  éloignement             33878 non-null  float64
dtypes: float64(2), int64(3), object(9)
memory usage: 3.9+ MB
None

In [7]:
geo.describe()

,code_région,numéro_circonscription,code_insee,latitude,éloignement
count,36840.000000,36840.000000,36840.000000,33911.000000,33878.000000
mean,49.409881,3.818594,46298.368621,47.000659,1.471278
std,25.475629,3.042461,25529.124657,2.209990,0.558343
min,1.000000,1.000000,1001.000000,41.391667,-1.000000
25%,25.000000,2.000000,24576.750000,45.216667,1.140000
50%,43.000000,3.000000,48190.500000,47.433333,1.480000
75%,73.000000,5.000000,67043.250000,48.850000,1.820000
max,94.000000,24.000000,97617.000000,51.083333,3.000000

In [8]:
#Taux de NA par colonne
print(geo.isnull().sum())

EU_circo                     0
code_région                  0
nom_région                   0
chef.lieu_région             0
numéro_département           0
nom_département              0
préfecture                   0
numéro_circonscription       0
nom_commune                  0
codes_postaux                0
code_insee                   0
latitude                  2929
longitude                 2841
éloignement               2962
dtype: int64

In [9]:
#Taux de NA par ligne
print(geo.isnull().sum(axis=1))

0        0
1        0
2        0
3        0
4        0
        ..
36835    3
36836    3
36837    3
36838    3
36839    3
Length: 36840, dtype: int64

In [10]:
geo.nunique().values

array([    8,    28,    28,    28,   102,   102,   102,    24, 34142,
        6106, 36693,   799,  1150,   293], dtype=int64)

In [15]:
geo['EU_circo'].unique()
geo['numéro_circonscription'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24], dtype=int64)